body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 400;
}

.text-muted {
	color: #7d97ad;

	}
.text-thin {
	font-weight: 100;
}

.title-logo {
	margin-top: 4px;
}

.title-super {
	font-size: 60px;
}

hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #7d97ad; /* old IE */
    background-color: #7d97ad; /* Modern Browsers */
}